body {
  margin: 0px;
}
.ant-menu-light .ant-menu-item-selected {
  background-color: #eae9fc;
  opacity: 0.7;
}
.ant-card .ant-card-body {
  padding: 15px;
}
.ant-drawer .ant-drawer-body {
  padding: 0px;
  background-color: #0e0c51;
}
